
<div class="registerSection">
    <form class="register" action="" method="post">
        <div class="register-form">
            <h2 class="title">Sign In</h2>
            <p class="input-firstName">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" placeholder="Mery">
            </p>
            <p class="input-lastName">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" placeholder="Markova">
            </p>
            <p class="input-email">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="mery@gmail.com">
            </p>

            <p class="input-pass">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="******">
            </p>
            <p class="input-repeatPassword">
                <label for="repeatPassword">Password</label>
                <input type="password" name="repeatPassword" id="repeatPassword" placeholder="******">
            </p>

            <button class="btn">Sign In</button>

            <p class="account">
                If you already have profile click here
                <a routerLink="/login">Login</a>
            </p>
        </div>
    </form>
</div>
