<section class="details">
  <div *ngIf="destination" class="destination-info">
    <h2>Current Destination</h2>
    <h3 class="title">{{destination.title}}</h3>
    <div class="card">
      <img
        src={{destination.image}}>
      <p class="location">Location:{{destination.location}}</p>
      <p>Description:{{destination.description}}</p>
      <div class="buttons">
        <ng-container *ngIf="userId === destination._ownerId">
          <a class="btn" (click)="edit()">Edit</a>
          <button class="btn" (click)="deleteD()">Delete</button>
        </ng-container>
        <button class="btn" href="#">Like</button>

         <div class="likes">
                  <span id="total-likes">Likes: {{destination.likes.length}}</span>
         </div> 
      </div>
    </div>
  </div>
</section>