<section class="details">
  <div class="destination-info">
    <h2>Current Destination</h2>
    <h3 class="title">Monaco</h3>
    <div class="card">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Panorama_von_Monaco-La_Turbie.jpg/750px-Panorama_von_Monaco-La_Turbie.jpg">
      <p class="location">Location:Monaco</p>
      <p>Description:The best view ever in the word!!!!!</p>
      <div class="buttons">
        <a class="btn" routerLink="#">Edit</a>
        <button class="btn" href="#">Delete</button>
        <button class="btn" href="#">Like</button>

         <div class="likes">
                  <span id="total-likes">Likes: 0</span>
         </div> 
      </div>
    </div>
  </div>
</section>