<h1 class="title">LATEST DESTINATIONS</h1>
<app-loader *ngIf="!allList"/>
<div class="card">
    <section id="destinations" *ngFor="let all of allList">
        <ul class="destination">
            <div class="picture">
                <img src={{all.image}}
                    alt="">
                <h2 class="destination-title">
                    {{all.title}}
                </h2>
                <a [routerLink]="all._id">Details</a>
            </div>           
        </ul>
    </section>
    <section class="no-destination" *ngIf="thereAreNoDestination">
        <h3>There ar no Destination yet!</h3>
    </section>
</div>