.card{
    display: flex;
   margin-top: 130px;
   margin-left: 50px;
}
.title{
    text-align: center;
    margin-top: 70px;
    color: #fff;
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #fff;
}

 .destination img {
    width: 500px;
    height: 300px;
    cursor: pointer;
    border-radius: 6px;
} 

.destination .picture:hover {
    transform: scale(1.2);
}
.no-destination {
    width: 400px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: #fff;
    font-size: 55px;
    border: 10px dashed rgb(153, 134, 134);
    padding: 16px;
}

.no-destination:hover {
    background-color: rgb(153, 134, 134);
    transform: scale(1.5);
    cursor: pointer;

}