<header>
    <nav class="navigation">
        <div class="logo">
            <a routerLink="/home">Travel</a>
        </div>
        <div class="nav">
            <ul *ngIf="!isLoggedIn">
                <a routerLink="/destinations">All Travel's</a>
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </ul>
            <ul *ngIf="isLoggedIn">
                <a routerLink="/destinations">All Travel's</a>
                <a routerLink="/create">Destination</a>
                <a routerLink="/profile">{{user?.firstName}}`s Profile</a>
                <a routerLink="/logout">Logout</a>
            </ul>
        </div>

    </nav>
</header>