<div class="loginSection">
    <form class="login" action="" method="post">
        <div class="email-form">
            <h2 class="title">Login</h2>
            <p class="input-email">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="mery@gmail.com">
            </p>

            <p class="input-pass">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="******">
            </p>

            <button class="btn">Login</button>

            <p class="account">
                If you don't have profile click here
                <a href="#">Register</a>
            </p>
        </div>
    </form>
</div>
