<div class="createSection">
    <form class="create" action="" method="post">
        <div class="create-form">
            <h2>Create</h2>
            <p class="input-title">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Week in Monaco">
            </p>
            <p class="input-location">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" placeholder="Monaco">
            </p>
            <p class="input-date">
                <label for="date">Date</label>
                <input type="text" name="date" id="date" placeholder="21.03.2023">
            </p>

            <p class="input-imageUrl">
                <label for="imageUrl">Image</label>
                <input type="text" name="imageUrl" id="imageUrl" placeholder="http:/...">
            </p>
            <p class="input-description">
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description" placeholder="Travel in ....." ></textarea>
            </p>

            <button class="btn">Create</button>

        </div>
    </form>
</div>
