<div class="createSection">
    <form class="create" #form="ngForm" (ngSubmit)="create(form)">
        <div class="create-form">
            <h2>Create</h2>
            <p class="input-title">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Week in Monaco" #inputTitle="ngModel" ngModel required>
            </p>
            <ng-container *ngIf="inputTitle.touched">
                <p *ngIf="inputTitle.errors?.['required']">Title is required!</p>
            </ng-container>
            <p class="input-location">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" placeholder="Monaco" #inputLocation="ngModel" ngModel required>
            </p>
            <ng-container *ngIf="inputLocation.touched">
                <p *ngIf="inputLocation.errors?.['required']">Location is required!</p>
            </ng-container>
            <p class="input-date">
                <label for="date">Date</label>
                <input type="text" name="date" id="date" placeholder="21.03.2023" #inputDate="ngModel" ngModel required>
            </p>
            <ng-container *ngIf="inputDate.touched">
                <p *ngIf="inputDate.errors?.['required']">Date is required!</p>
            </ng-container>

            <p class="input-imageUrl">
                <label for="imageUrl">Image</label>
                <input type="text" name="imageUrl" id="imageUrl" placeholder="http:/..." #inputImage="ngModel" ngModel required>
            </p>
            <ng-container *ngIf="inputImage.touched">
                <p *ngIf="inputImage.errors?.['required']">Image is required!</p>
            </ng-container>
            <p class="input-description">
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description" placeholder="Travel in ....." #inputDescription="ngModel" ngModel required minlength="10"></textarea>
            </p>
            <ng-container *ngIf="inputDescription.touched">
                <p *ngIf="inputDescription.errors?.['required']">Description is required!</p>
                <p *ngIf="inputDescription.errors?.['minlength']">Description must be at least 10 characters long!</p>
            </ng-container>

            <button class="btn">Create</button>

        </div>
    </form>
</div>
