
 /* Typography */
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Global styles */
body {
    margin: auto;
    position: relative;
    min-height: 100vh;
    overflow: scroll;
    background: url("https://cdn.pixabay.com/photo/2017/06/07/10/47/elephant-2380009_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Responsive */
@media (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}